body {
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-image: url('../img/pattern.png');
    background-size: 38%;
    font-family: 'Alegreya Sans';
    font-size: 25px;
    margin: 0;
}

input {
    text-align: center;
}

#dom_css:after {
    content: "I'm css!";
}

#pseudo {
    cursor: pointer;
}

#pseudo:hover {
    color: red;
    text-decoration: underline;
}

#pseudo:focus {
    color: blue;
    font-size: 130%
}

#pseudo:active {
    color: green;
    font-family: monospace;
}

.section {
    display: table;
    width: 100%;
    text-align: center;
    padding: 7%;
    box-sizing: border-box;
}

.section>div:first-child {
    font-size: 170%;
    margin-bottom: 33px;
    text-transform: uppercase;
    line-height: 72px;
}

.section>div:first-child a {
  width: 28px;
  height: 20px;
  display: inline-block;
  background-image: url(../img/logo.png);
  background-size: cover;
}

.section>div {
    background-color: white;
    box-shadow: 3px 3px 4px -3px rgba(113, 113, 113, 0.81);
    margin-bottom: 11px;
    padding: 0px;
    cursor: default;
    line-height: 40px;
    color: gray;
}

#yt-button-holder {
    padding: 12px 0px 0px 12px;
}

progress {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: .1em;
    -webkit-appearance: none;
    z-index: 1;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

.flat::-webkit-progress-value {
    background-color: red;
}

.progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: .25em;
    display: block;
}

.progress-bar {
    background-color: red;
    width: 50%;
    display: block;
    height: inherit;
}
