body {
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-image: url('../img/pattern.png');
    background-size: 38%;
    /*font-family: 'Indie Flower', cursive;*/
    /*font-family: 'Titillium Web';*/
    font-family: 'Alegreya Sans';
    font-size: 25px;
    margin: 0;
}

input {
    text-align: center;
}

#dom_css:after {
    content: "I'm css!";
}

#pseudo {
    cursor: pointer;
}

#pseudo:hover {
    color: red;
}

#pseudo:focus {
    color: blue;
}

#pseudo:active {
    color: green;
}

.section {
    display: table;
    width: 100%;
    text-align: center;
    padding: 7%;
    box-sizing: border-box;
}

.section>div:first-child {
    font-size: 170%;
    margin-bottom: 33px;
    text-transform: uppercase;
    line-height: 72px;
}

.section>div {
    background-color: white;
    box-shadow: 3px 3px 4px -3px rgba(113, 113, 113, 0.81);
    margin-bottom: 11px;
    padding: 0px;
    cursor: default;
    line-height: 40px;
    color: gray;
}


/*.section:nth-child(6n+1) div {
    background-color: #FF708F
}

.section:nth-child(6n+2) div {
    background-color: #E89D5D
}

.section:nth-child(6n+3) div {
    background-color: #FFE33E
}

.section:nth-child(6n+4) div {
    background-color: #7AE856
}

.section:nth-child(6n+5) div {
    background-color: #7AFFE6
}

.section:nth-child(6n) div {
    background-color: #6E74F5
}*/
